<%- include("header.ejs")%>
<!--  -->
<%- include("nav.ejs")%>
<!--  -->
<form action="/sendmail" method="POST">
    <input type="email" name="email" placeholder="Enter register email" />
    <button>Send Mail</button>
</form>
<!--  -->
<%- include("footer.ejs")%>
