<nav>
    <% if(!admin){ %>
    <!--  -->
    <a class="home1" href="/">Home</a>
    &nbsp;&nbsp;&nbsp;
    <a class="signup" href="/signup">Sign Up</a>
    &nbsp;&nbsp;&nbsp;
    <!--  -->
    <% } else { %>
    <!--  -->
    <a href="/profile">Home</a>
    &nbsp;&nbsp;&nbsp
    <a class="reset" href="/reset">Reset Password</a>
    &nbsp;&nbsp;&nbsp;
    <a class="signout" href="/signout">Signout</a>
    <!--  -->
    <% } %>
</nav>
